.hello-react-modal{
  color:#F00;

  button{
    box-sizing: border-box;;
    display: block;
    width:100%;
    background: #666;
    color:#fff;
    padding:20px;

    &:active{
      background: #333;
    }

    &:focus{
      outline: none;
    }
  }
}
