*{margin: 0;padding: 0;}
html,body{
  height:100%;
  position: relative;
}
.hello-react-modal{
  color:#F00;

  button{
    box-sizing: border-box;;
    display: block;
    width:100%;
    border: none;
    border-radius: 10px;
    background: #3cc51f;
    color:#fff;
    padding:20px;

    &:active{
      background: #3cc51f;
    }

    &:focus{
      outline: none;
    }
  }
}
